html, body {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #eee; }

/* Constrain content to 980 and center */
.constrain {
  max-width: 980px;
  margin: auto;
}

/* Header */
nav {
  background-color: #991000;
  color: white;
  font-size: 1.5rem; }
.title { margin: 1rem; }
.page-list {
  font-size: 1rem;
  padding-top: .25rem;
  margin-right: 1rem; }

/* Sub Header */
.subnav {
  background-color: #750B00;
  height: 45px; }
.sub-page-list {
  font-size: .8rem;
  margin-left: 1rem;
  color: white;
}

/* Hero */
.hero {
  height: 450px;
  background-color: #ddd;
}
.hero img { width: 100%; max-height: 450px; }

/* Content */
.content {
  margin-top: 2rem;
  background-color: #eee;
  padding-left: 1rem;
  padding-right: 1rem; }
.content .row { margin-top: 2rem; }
.content .row img { min-width: 100%; height: auto; }
.content .header {
  margin: 0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  border-bottom: 2px solid #750B00;
}
.content .sub-header {
  font-style: italic;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}

/* Footer */
.footer {
  margin-top: 2.5rem;
  padding-top: 1rem;
  color: #eee;
  background-color: #02505E;
  min-height: 16  0px;
}
.footer-last {
  font-size: 0.5rem;
  padding-left: 1rem;
  font-size: 0.35rem;
}
.footer ul {
  font-size: 0.85rem;
  list-style: none;
  padding-left: 0;
}
